.chart-filters {
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 200px;
}

.chart-filters-top {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.chart-filters-bottom {
    height: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.6em;
    padding: 2em;
}
