button {
  border: none;
  outline: none;
}

.sidebar-button {
  width: 90%;
  padding: 0.9em 0;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0.3em 0;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.sidebar-button:hover, .filters-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.filters-button {
  border-radius: 5px;
  background-color: transparent;
  border: 0.7px solid gray;
}

.active {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
/*# sourceMappingURL=styles.css.map */